.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  margin: 2rem;
}

.searchFilter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}